<main>
  <section class="index container">
    <div class="row">
      <div class="col-md-6 col-md-offset-1">
        <div id="map"></div>
      </div>

      <div class="col-md-4 mt-5">
        <input class='search-bar d-block w-100' type="text" autofocus placeholder="농장명을 입력하세요.">
        <span class="reference d-block text-right">정보 출처 : 식품안전정보포털</span>
        <div class="result">
          <table class="my-3 w-100">
            <thead>
            <tr>
              <th>지역(코드)</th>
              <th>농장명</th>
            </tr>
            </thead>
            <tbody>

            </tbody>
          </table>
        </div>
      </div>
    </div>
  </section>
</main>
<script type="text/javascript">
    var providers = [];
    var marked_local = [];

    <% @providers.each do |provider| %>
    providers.push({"local_code": "<%= provider.local_code %>", "provider": "<%= provider.provider %>"});
    <% end %>
</script>
