<main>
  <section class="index container">
    <div class="row justify-content-center">
      <div class="col-xl-5">
        <div id="map"></div>
      </div>

      <div class="col-xl-5 mt-5">
        <input class='search-bar d-block w-100' type="text" autofocus placeholder="난각코드를 입력하세요.">
        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <!-- eggmap -->
        <ins class="adsbygoogle"
             style="display:inline-block;width:468px;height:60px"
             data-ad-client="ca-pub-6305028310642713"
             data-ad-slot="8106205794"></ins>
        <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
        <a href="http://www.foodsafetykorea.go.kr/portal/fooddanger/eggHazardList.do?menu_grp=MENU_NEW02&menu_no=3497" target="_blank" class="reference d-block text-right">정보
          출처 : 식품안전정보포털(링크)</a>
        <div class="result">
          <table class="my-3 w-100">
            <thead>
            <tr>
              <th>지역(코드)</th>
              <th>농장명</th>
              <th>난각코드</th>
            </tr>
            </thead>
            <tbody>

            </tbody>
          </table>
        </div>
        <span class="contact d-block text-center">Contact : tutan123@naver.com</span>
      </div>
    </div>
  </section>
</main>
<script type="text/javascript">
    var providers = [];
    var marked_local = [];

    <% @providers.each do |provider| %>
    providers.push({
        "local_cd": "<%= provider.local_cd %>",
        "sido_nm": "<%= provider.sido_nm %>",
        "nongga_nm": "<%= provider.nongga_nm %>",
        "nagak_cd": "<%= provider.nagak_cd %>"
    });

    <% end %>


</script>
