<section class="index">
  <div id="map"></div>
  <div class="non-map">
    <div class="search-area">
      <input id='search' type="text" autofocus>
      <div id="btn-search">검색</div>
    </div>
    <div class="result-area">
      <ul>

      </ul>
    </div>
  </div>
  <script type="text/javascript">
      var providers = [];
      var marked_local = [];

      <% @providers.each do |provider| %>
      providers.push({"local_code": "<%= provider.local_code %>", "provider": "<%= provider.provider %>"});
      <% end %>
  </script>
</section>
